<h1> <%= @boomerang.name %> </h1>

<article >

   <p>
    Contact: 
   <%=  @boomerang.contact_name %>
   </p>
   <p>
    Telephone:
   <%=  @boomerang.tel_no %>
   </p>
 <p>
  Email
   <%=  @boomerang.email%>

   </p>
   <p>
    Facebook Page
   <%=  @boomerang.tel_no%>

   </p>
   Header File
   <%=  @boomerang.header_file%>
   </p>
</article>

 
 <%= link_to "All Boomerangs", boomerangs_path %> |
 <%= link_to "Edit",  edit_boomerang_path(@boomerang) %>
  <%= link_to "Programmes ",  boomerang_programmes_path(@boomerang) %>

 bo
 <%= link_to "Delete", boomerang_path(@boomerang), method: :delete , data: {confirm: 'Are You Sure'} %>




